### IntelliJ IDEA ###
pattern-commons/pattern-commons/.idea
pattern-commons/pattern-commons/*.iws
pattern-commons/pattern-commons/*.iml
pattern-commons/pattern-commons/*.ipr

pattern-commons/demo/.idea
pattern-commons/demo/*.iws
pattern-commons/demo/*.iml
pattern-commons/demo/*.ipr

### Build ###
pattern-commons/pattern-commons/out/*
pattern-commons/pattern-commons/target/*

pattern-commons/demo/out/*
pattern-commons/demo/target/*

### IntelliJ IDEA ###
old/.idea
old/*.iws
old/*.iml
old/*.ipr

### Build ###
old/out/*
old/target/*
