### IntelliJ IDEA ###
pattern-commons/.idea
pattern-commons/*.iws
pattern-commons/*.iml
pattern-commons/*.ipr

### Build ###
pattern-commons/out/*

### IntelliJ IDEA ###
old/.idea
old/*.iws
old/*.iml
old/*.ipr

### Build ###
old/out/*
